/* stylelint-disable indentation */
/* stylelint-disable no-missing-end-of-source-newline */

* {
 margin: 0;
 padding: 0;
}

.footer {
  display: flex;
  position: fixed;
  bottom: 5px;
  height: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 2px black solid;
}