@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Lato:wght@300&family=Permanent+Marker&family=Raleway:wght@200&family=Roboto:wght@100&display=swap');

* {
  font-family: 'David Libre', serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Permanent Marker', cursive;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 12px;
  border-bottom: 1px solid #ccc;
  box-shadow: 1px 3px 3px 3px #ccc;
  background: #fff;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 25px;
  margin: 0 15px;
}

input {
  padding: 18px;
  border: 1px solid rgb(100, 99, 99);
  border-radius: 9px;
  box-shadow: 2px 3px 3px #ccc;
}

.logo-holder {
  flex: 1 1 25%;
}

.logo-holder > img {
  width: 50px;
}

.nav-links {
  flex: 1 1 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#event-btn {
  min-height: 100vh;
  margin-top: 129px;
}

#movies {
  margin: 65px 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.movie-list-item {
  flex: 1 0 25%;
  margin: 9px 15px;
  text-align: center;
}

.open-comments {
  padding: 15px;
  background: #fff;
  border: 1px solid blue;
  border-radius: 4px;
  color: blue;
  transition: color 1s, background 1s;
}

.open-comments:hover {
  color: #fff;
  background: blue;
}

.display-none {
  display: none;
}

.pop-up-bg {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}

.comment-pop-up {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 9px;
  padding: 15px;
  margin: 5% auto;
  width: 65%;
}

.close {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.show-title {
  color: blue;
  font-size: 39px;
}

.show-title::after {
  display: block;
  content: '';
  margin: 15px auto;
  width: 90px;
  height: 6px;
  background-color: rgb(5, 37, 97);
  border: 1px solid rgb(2, 2, 32);
  border-radius: 32px;
}

.show-detail,
.all-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-image {
  height: 350px;
  width: 550px;
}

.show-image img {
  border: 1px solid #fff;
  border-radius: 9px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.show-detail-list {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: rgb(49, 13, 82, 0.9);
}

.show-detail-list-items {
  margin: 5px 12px;
  flex: 1 1 40%;
  display: flex;
  justify-content: space-around;
  background-color: blueviolet;
  border: 1px solid rgb(5, 5, 158);
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  transition: all 1s;
}

.show-detail-list-items:hover {
  background-color: #fff;
  border: 1px solid rgb(5, 5, 158);
  color: rgb(5, 5, 158);
}

.all-comments {
  margin: 15px auto;
  padding: 18px;
  width: 550px;
  height: 250px;
  color: rgb(5, 5, 158);
  border: 1px solid rgb(5, 5, 158);
  border-radius: 4px;
  overflow-y: scroll;
}

.normal-title {
  font-weight: 700;
  margin: 6px auto;
  color: blue;
}

#comment-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
}

#comment-count {
  color: rgb(0, 0, 0);
  margin: 0 9px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 25px;
}

.article-items {
  padding: 5px;
  margin: 15px auto;
  width: 75%;
  text-align: center;
}

#add-comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
}

.form-control {
  height: 12px;
  width: 95%;
  margin: 9px auto;
}

.form-control-btn {
  width: 50%;
  margin: 12px 0;
  background: rgb(91, 91, 245);
  color: #fff;
}

.btn {
  cursor: pointer;
  padding: 9px 20px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 1px 2px 3px rgb(1, 1, 47);
  font-weight: 700;
}

.btn:active {
  box-shadow: none;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #82f387;
  color: #000;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 3s;
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 30px;
    opacity: 1;
  }
}
